 /* .list-container{
    padding-left: 0px;
    padding-top: 90px;
    width: 20%;
    background-color:rgb(115, 165, 121);
    cursor: pointer;
    min-height: '100%';
    border-top: 1px solid black;
    position: absolute;
    height: 100%;
  
}

.link-txt{
    text-decoration: none; 
}  */

