
  
  .div1 {
    background-color: #B8F1B0;
 
    width:30rem;
    height:10rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
    padding:15px 18px;
    border-radius: 0.5rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #E3FCBF;
    box-shadow: 3px 3px 5px lightblue;
  
    
  }

  .div2 {
    background-color: #B8F1B0;
    width:38rem;
    height:30rem;
    margin-top: -30rem;
    margin-left: 40rem;
    margin-bottom: 5rem;
    padding:25px 25px;
    border-radius: 0.5rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #E3FCBF;
    box-shadow: 5px  5px 5px lightblue;
   
    
  }

  .div3 {
    background-color: #B8F1B0;
    width:30rem;
    height:18rem;
    margin-left: 7rem;
    padding:15px 18px;
    border-radius: 0.5rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #E3FCBF;
    box-shadow: 3px 3px 5px lightblue;
    display: inline-block;
  }

  h6{
    color:#270b4d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

h5{
  color:#270b4d;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  
}
.h51{
  color:#270b4d;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 550;
  padding:1rem;
  
}

Button{

  margin-left:5rem;
}










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
  
  
 
  
 
  